
.experience {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period::before {
    content: '';
    background-image: url('../img/icons/calendar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;  
}

.experience li .certificate::before {
    content: '';
    background-image: url('../img/icons/certificate.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: .5rem;
    width: 1.25rem;
    height: 1.25rem;  
}